body {
    font-family: Arial, sans-serif;
}

#map {
    height: 600px;
    width: 100%;
}

.grave {
    fill: gray;
    cursor: pointer;
}

.watered {
    fill: red !important; /* Utilisation de !important pour s'assurer que le style est appliqué */
}
